
@{
    ViewData["Title"] = "AjaxEvent";
}
@section Styles{
<style>
    #img1 {
        display:none
    }
</style>

}


<h1>AjaxEvent</h1>
<button class="btn btn-primary m-1" id="buttonStart">Start</button>
<button class="btn btn-secondary m-1" id="buttonEnd">End</button>
<img src="~/images/tenor.gif"id="img1"/>
<div class="alert alert-primary" role="alert" id="div1"></div>
@section Scripts{
    <script>
        const btnStart = document.querySelector("#buttonStart")
        const btnEnd = document.querySelector("#buttonEnd")
        const imgLoading = document.querySelector("#img1")
        const divMessage = document.querySelector("#div1")
        const xhr = new XMLHttpRequest()
        btnEnd.addEventListener("click", () => {
            xhr.abort()
        })

        btnStart.addEventListener("click", () => {
            //Ajax程式

            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                console.log("load")

            })
            xhr.addEventListener("loadstart", () => {
                console.log("Ajax開始")
                btnStart.textContent = "Loading....."
                btnStart.setAttribute("disabled", "disabled")//button disable="disable"
                imgLoading.style.display = "inline"
                divMessage.textContent=""
            })
            xhr.addEventListener("loadend", () => {
                console.log("Ajax結束")
                btnStart.textContent = "Start"
                btnStart.removeAttribute("disabled")//button disable="disable"
                imgLoading.style.display = "none" //隱藏圖片
            })

            xhr.addEventListener("timeout", () => {
                console.log("timeout")
                divMessage.textContent="伺服器忙碌中請稍後再來!!"
            })

            xhr.addEventListener("abort", () => {
                console.log("abort")
                divMessage.textContent = "您終止了Ajax的程式!!"
            })
            //const url = "@Url.Content("~/A/Sleep/")"
            xhr.open("GET", "@Url.Content("~/A/Sleep/")")
            xhr.timeout=3000//伺服器3秒鐘沒有回傳結果，中指程式的執行
            xhr.send()
        })

    </script>
}
