
@{
    ViewData["Title"] = "sync";
}
@section Styles{ 
<style>

</style>
}
<h1 class="badge bg-secondary">sync</h1>
@*<div class="alert alert-primary" id="div1"></div>*@
<select id="select1" class="form-select form-select-lg mb-3"></select>
<select id="select2" class="form-select form-select-lg mb-3"></select>
<select id="select3" class="form-select form-select-lg mb-3"></select>
@*<img id="img1" class="img-thumbnail w-50" />*@

@section Scripts
{
    <script>
        const selCity = document.querySelector("#select1")
        const selSite = document.querySelector("#select2")
        const selRoad = document.querySelector("#select3")

        async function LoadCities() {
            let response = await fetch("@Url.Content("~/A/city")")
            let datas = await response.json()

            datas.forEach(city => {
                const opt = new Option(city, city)
                selCity.options.add(opt)
            })
        };


        selCity.addEventListener("change", () => {
            let City = selCity.options[selCity.selectedIndex].value;
            selRoad.options.length = 0;
            LoadSites(City);
        })
        selSite.addEventListener("change", () => {
            let Site = selSite.options[selSite.selectedIndex].value;
            console.log(Site)
            LoadRoad(Site);
        })

        async function LoadSites(City) {
            let response = await fetch("@Url.Content("~/A/Site?city=")" +City)
            let datas = await response.json()
            selSite.options.length = 0;
            datas.forEach(site => {
                const opt = new Option(site, site)
                selSite.options.add(opt)
            });
        }

        async function LoadRoad(Site) {
            let response = await fetch("@Url.Content("~/A/road?Sites=")" + Site)
            let datas = await response.json()
            selRoad.options.length = 0;
            datas.forEach(road => {
                const opt = new Option(road, road)
                selRoad.options.add(opt)
            });
        }

        LoadCities();
    </script>
    <script src="~/js/bootstrap.js"></script>
}